<div class="form login">
  <% form_tag sessao_path do -%>
    <span><%= label_tag 'login' %><br />
      <%= text_field_tag 'login', @login, :class=>'input_medio' %></span><br /><br />

    <span><%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil, :class=>'input_medio' %></span><br/>
    <%= submit_tag 'Entrar', :class=>'button' %><br /><br />
  <% end -%>
</div>