<p>
  <b>Nome:</b>
  <%=h @historico.pessoa.nome %>
</p>

<p>
  <b>Data:</b>
  <%=h @historico.data %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @historico.descricao %>
</p>

<%= link_to '', edit_pessoa_historico_cliente_path(@pessoa, @historico), :class => ['bt_alterar',' float_left'] %>
<%= link_to '', pessoa_path(@pessoa), :class => ['bt_voltar', ' float_left'] %>
