<p>
  <b>Nome:</b>
  <%=h @historico.pessoa.nome %>
</p>

<p>
  <b>Tipo da Ação:</b>
  <%=h @historico.tipo_acao %>
</p>

<p>
  <b>Data:</b>
  <%=h @historico.data %>
</p>

<p>
  <b>Status:</b>
  <%=h @historico.status_verbose %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @historico.motivo %>
</p>

<p>
  <b>Objetivos:</b>
  <%=h @historico.objetivo %>
</p>

<p>
  <b>O que foi feito?</b>
  <%=h @historico.atividades %>
</p>

<p>
  <b>Outras informações:</b>
  <%=h @historico.descricao %>
</p>

<%= link_to '', edit_pessoa_historico_cliente_path(@pessoa, @historico), :class => ['bt_alterar',' float_left'] %>
<%= link_to '', pessoa_path(@pessoa), :class => ['bt_voltar', ' float_left'] %>
