<div class="form">

  <% form_for @usuario, :builder => TableFormBuilder do |f| %>

    <%= error_messages_for(:usuario).untaint %>

    <table>
      <%= f.text_field :name %>
      <%= f.text_field :login %>
      <%= f.text_field :email %>
      <%= f.text_field :cargo %>
              <%if current_usuario.perfil_id == 3%>
      <tr>
        <td class="field_descriptor">Concessionária</td>
        <td><%=f.select :entidade_id,Entidade.all.collect{|x| [x.nome,x.id]},{:include_blank=>true} %></td>
      </tr>
      <%end%>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <tr>
        <td class="field_descriptor">Perfil</td>
        <td><%= f.select :perfil_id, [['Administrador', 1], ['Usuário Comum', 2]], {:include_blank => true} %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit '', :class => ['bt_salvar', ' float_left'] %>
          <%= link_to '', usuarios_path, :class => ['bt_voltar', ' float_left'] %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
